@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* --- Colours --- */
.bg-color-name-title {
  background-color: #676767;
}

.bg-color-three-reasons {
  background-color: #fff;
}

.ui-menu-color-home {
  background-color: #d69053;
}
.ui-menu-color-resume {
  background-color: #734787;
}
.ui-menu-color-contact {
  background-color: #486579;
}
.ui-menu-color-download {
  background-color: #4c4c4c;
}

/* --- special padding/ margins / text --- */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.row {
  --bs-gutter-x: 0;
}

.row .uppercase {
  text-transform: uppercase;
}

.general-sub {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  color: #fafafa;
}

.row-table {
  display: table;
}

.section-column {
  display: table-cell;
  padding: 0 30px 30px;
  float: none;
}

.section-heading {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
}

/* --- Heading--- */
.heading {
  margin-left: 50px;
}

.logo {
  background: url(../images/terry_img.png) no-repeat center center/cover;
  background-color: #fff;
  min-height: 360px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  /* filter: contrast(100%) drop-shadow(3px 0px 3px rgba(0, 0, 0, 0.5)); */
}

.name {
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  color: #fff;
}

.title {
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 90px;
  color: #fff;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
}

#nav {
  margin: 0;
}

#nav li {
  font-size: 14px;
  padding: 0;
}

.menu-item {
  height: 120px;
  text-align: center;
  padding: 0;
}

.menu-item a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 120px;
}

.menu-item a i {
  padding-top: 25px;
  display: block;
  color: #fafafa;
  font-size: 25px;
}

.menu-item span {
  width: 100%;
  padding-top: 10px;
  display: block;
  font-size: 14px;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

/* --- hover.css --- */
.hvr-sweep-to-bottom::before {
  background-color: rgba(0, 0, 0, 0.3);
  height: 120px;
}

/* --- Footer --- */

footer {
  background-color: #676767;
  color: #fafafa;
  padding: 20px 0;
  margin: 0;
  min-height: 120px;
}

.inline-block {
  padding: 0;
  margin-top: 10px;
  display: inline-block;
}

.cv-pdf i {
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  padding-left: 5px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.cv-pdf i:hover {
  color: #c097d3;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  padding: 22px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 7px;
  text-align: center;
  justify-items: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #486579;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#footer-details {
  padding: 20px;
}

/* ---Three Reasons ---*/

.three-reasons-icon {
  font-size: 26px;
  color: #d69053;
}

.three-reasons-heading {
  margin-bottom: 15px;
}
